<head>
<link rel = "stylesheets" href = "css/styles.css">
</head>
<body>
<div class = "row-flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class = "col-12 col-lg-6">
        <img src = "img/thoughts.jpg" width =  "607" height = "510" class = "d-block mx-lg-auto img-fluid" Loading="lazy">
    </div>

    <div class = "col-12 col-lg-6">
        <h1 class = "display-5 fu-bolf mb-3">
            Create your own posts and express your thoughts to the world!
        </h1>
        <p class = "lead">
            A forum to express yourself and let others know what you think about a variety of issues and happenings around the world.
        </p>

        <div class = "d-grid gap-2 d-md-flex justify-content-md-start">
            <a href = "/explore-latest" class = "btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest News</a>
           

        </div>
    </div>

</div>

<div class = "row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <a href = "#" class = "col-text-center category__link">
        <div class = "category__img shadow">

        </div> 
    </a>

</div>

<section class = "px-4 py-5 my-5 text-center">
    <img src = "img/image.png" class = "d-block mx-auto mb-4 img-fluid" width = "566" height = "208" Loading = "lazy">
    <h1 class = "display-5 fw-bold">Publish your post for free!</h1>
    <div class = "col-lg-6 mx-auto">
        <p class = "lead mb-4">
            Publish your post in front of millions of people. Let the world know what you think!
        </p>
        <div class = "d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href = "/createpost" class = "btn btn-primary btn-dark-lg">Create Post</a>        
        </div>
    </div>

</section>
</body>